<script>

    $(document).ready( function (event,ui) {
        $('#gene_index_tbl').dataTable( {
            "sDom": "T<'clear'><'H'lfr>t<'F'ip>",
            "bFilter": false,
            "bPaginate": false,
            "bSortable": false,
            "bJQueryUI": true,
            "oTableTools": {
               "sSwfPath": '/assets/javascripts/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf',
                "aButtons": [
                    {
                        "sExtends": "xls",
                        "sButtonText": "Save as Excel"
                    },
                    {
                        "sExtends": "pdf",
                        "sButtonText": "Save as PDF"
                    }
                      ]
           }
        } );



    } );

</script>


    <table id="gene_index_tbl" class="display">
      <thead>
      <tr>
        <th>ID</th>
        <th>Symbol</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>

          <tr>
            <td> <%=gene.enter_id %></td>
            <td> <%=gene.symbol %></td>
            <td> <%=gene.title %></td>
          </tr>

      </tbody>
    </table>


</div>

