<script>

    $(document).ready( function (event,ui) {
        $('#gene_index_tbl').dataTable( {
            "bFilter": false,
            "bPaginate": false,
            "bSortable": false,
            "bJQueryUI": true
        } );
    } );

</script>

 <div>
   <h2>The gene of interest</h2>
    <table id="gene_index_tbl" class="display">
      <thead>
      <tr>
        <th>Entrez ID</th>
        <th>Symbol</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>

          <tr>
            <td> <%=gene.enter_id %></td>
            <td> <%=gene.symbol %></td>
            <td> <%=gene.title %></td>
          </tr>

      </tbody>
    </table>


</div>