<!DOCTYPE html>
<html>
<head>
  <title>LCSB - Luxembourg Centre for Systems Biomedicine</title>
  <%= javascript_include_tag :all %>

  <link href="/assets/application.css?1369151229" media="screen" rel="stylesheet" stylesheets="all" type="text/css" />


</head>
<body>
<div id="all">
    <div id="wrap">
        <div id="content" >
            <div id="header">
                <%=image_tag('header.png')%>
             </div>
            <div id="tables_content">
             <%= yield %>
            </div>


     <div id="footer">
        <div class="footer1"></div>
       <div class="footer2"></div>
     </div></div>
    </div>
</div>

</body>
</html>
